<h1>Aggiungi qui la tua Nuova Pizza!</h1>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="mb-3">
				<label for="formGroupExampleInput" class="form-label">Nome Pizza</label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome...">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Descrizione Pizza</label>
				<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Descrizione...">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput" class="form-label">Example label</label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Another label</label>
				<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
			</div>
		</div>
	</div>
</div>
